<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Lokacje</h1>
      <ul class="">
        <li ng-repeat="location in locations">
          {{location}}
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <col-lg-12>

      <!--<div class="button" ng-file-select ng-model="files">Upload ussing model $watch</div>-->
      <button class="button btn btn-success" ng-file-select ng-file-change="upload($files)" accept=".csv">Wgraj lokacje z csv</button>
      <!--<h2>Drop File:</h2>-->

      <!--<div ng-file-drop ng-model="file" class="drop-box"-->
           <!--drag-over-class="dragover" ng-multiple="false" allow-dir="false"-->
           <!--accept=".csv">Podrzuc swoj csv-->
      <!--</div>-->
      <!--<div ng-no-file-drop>Upload plikow nie mozliwy w tej przegladarce</div>-->
    </col-lg-12>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
