<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">

  <h2>Detale kampanii</h2>

  <div class="panel panel-default">
    <div class="panel-heading">Ogolne</div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Tytul</dt>
        <dd ng-bind="campaign.title"></dd>
        <dt>Firma</dt>
        <dd ng-bind="campaign.company"></dd>
        <dt>Cena</dt>
        <dd ng-bind="campaign.price"></dd>
        <dt>Data zakonczenia</dt>
        <dd ng-bind="campaign.dueDate | date:'dd-MM-yyyy'"></dd>
        <dt>Status</dt>
        <dd ng-bind="campaign.state"></dd>

      </dl>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Instrukcje</div>
    <div class="panel-body" ng-bind-html="campaign.instructions">
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Zadania</div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="task in campaign.tasks">
          {{task.title}} {{task.type}}
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Lokacje
      <a class="pull-right" ui-sref="campaign-locations({campaignId: campaign._id})"><i class="fa fa-edit"></i> </a>
    </div>
    <div class="panel-body">
      Podpietych {{campaign.locations.length}} lokacji
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Misje
    </div>
    <div class="panel-body">
      <a class="btn btn-primary" ui-sref="campaign-missions({campaignId: campaign._id})">Misje</a>
    </div>
  </div>


  <div>
    <button class="btn btn-warning" ng-click="start()">Start</button>
    <button class="btn btn-danger" ng-click="delete()">Usun</button>
  </div>


</div>

<div ng-include="'components/footer/footer.html'"></div>
