<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">


  <form class="thing-form">
    <h2>Nowa kampania</h2>

    <p class="input-group">

    <h3>Opis</h3>
    <input type="text" class="form-control" placeholder="Tytul" ng-model="newCampaign.title">
    <input type="text" class="form-control" placeholder="Firma" ng-model="newCampaign.company">
    <input type="number" class="form-control" placeholder="Cena" ng-model="newCampaign.price">
    <input type="date" ng-model="newCampaign.dueDate" placeholder="Data">

    <div text-angular ng-model="newCampaign.instructions"></div>
    </p>

    <p>

    <h3>Zadania</h3>
    <ul>
      <li ng-repeat="task in newCampaign.tasks">{{task.type}} {{task.title}}</li>
    </ul>
    <div>

      <button type="button" class="btn btn-success" ng-click="addTask()">Dodaj nowe zadanie</button>
    </div>


    </p>
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-block" ng-click="create()">Zapisz</button>
      </span>
  </form>
</div>

<div ng-include="'components/footer/footer.html'"></div>
