<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">


  <form class="thing-form">
    <label>New Mission</label>

    <p class="input-group">
      <input type="text" class="form-control" placeholder="Tytul" ng-model="newMission.title">
      <input type="text" class="form-control" placeholder="Firma" ng-model="newMission.company">
      <input type="number" class="form-control" placeholder="Cena" ng-model="newMission.price">
      <div text-angular ng-model="newMission.instructions"></div>
    </p>
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary btn-block" ng-click="create()">Create</button>
      </span>
  </form>
</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
