<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">

  <h2>Lokacje misji</h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      Lokacje

    </div>
    <div class="panel-body">
      <div class="checkbox" ng-repeat="location in locations">
        <label>
          <input type="checkbox" checklist-model="mission.locations" checklist-value="location._id"> {{location.geoData[0].streetName}}
        </label>
      </div>

      <button class="btn btn-block btn-primary" ng-click="save()">Zapisz</button>

    </div>
  </div>


</div>

<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
      <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
